@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico');
/*
Montserrat: Contenido
Pacifico: Titulos
*/

*{
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat' , sans-serif;
  margin: 0;

}
/*------------------Estilos base----------------------------------*/
img{
  display: block;
  width: 100%;
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.container{
  width: 100%;
  margin: auto;
}
.container__flex{
  display: flex;
  flex-wrap: wrap; /*Los elementos que no entran se van hacia abajo*/
  justify-content: space-between; /*Alinea los elementos para que ocupen el espacio*/
  align-items: center; /*Alinea en el eje vertical*/
}
.colum{
  width: 100%;
}
/*--------------------Estilos Header----------------------------------*/
.main-header{
    width: 100%;
}
.logo{
  font-size: 1.8em;
  color: #DE423A;
    padding: 10px;
    font-family: 'Pacifico',cursive;
    font-weight: 100;
}
.main-header__contactInfo__phone{
    background: #DE423A;
    color: white;
    padding: 10px;
    margin: 0 auto;
}

.main-header__contactInfo__address{
    padding: 10px;
    margin: 0;
}
.main-header [class*="icon-"]:before {
    position: relative;
    top: 2px;
    right: 5px;
    margin-right: 3px;
}
/*------------------Estilos MENU----------------*/

.main-nav{
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}
.icon-menu{
    display: block;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    font-size: 1.5em;

}
.social-icon{
    display: flex;
    justify-content: space-between; 
}
.social-icon [class*="icon-"]{
    color: black;
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
    
}
.social-icon__link{
    text-decoration: none;
}
.menu{
    
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: rgba(0,0,0,.85);
    text-align: center;
    
    /*Animación*/
    height: 0;
    overflow: hidden;
    /*Animación*/
    }

/*Código del menu js*/

.mostrar{
    height: 196px;
}
/*Código del menu js*/

.menu__link{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.menu__link:hover{
    background: #DE423A;
}
.menu__link--select{
    background: #DE423A;
    
}


/*------------------Estilos Banner----------------*/

.banner{
    margin-top: -70px;
    position: relative;
}
.banner:before{
    content: ''; /*A los pseudo siempre es necesario colocarles un content */
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.7);
    z-index: 1000;
    top: 0;   
}
.banner__img{
    width:100%;
    height: 500px;
    object-fit: cover; /*Importante para no deformar las imagenes*/
}
.banner__content{
    width: 90%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /*Lo de arriba es necesario consultarlo en el curso de bases de HTML y CSS*/
    font-size: 1.5em;
    font-weight: bold;
    
}
/*-----------------------------ESTILOS PRINCIPALES-----------------------------*/

.group--color .container{
    background: #DE423A;
}
.main__title {
    margin: 15px 0;
    font-size: 1.8em;
}